services:
  # Go Application Server
  app-server:
    ports:
      - "127.0.0.1:8080:8080"
    build:
      context: ./server
    container_name: serenada-server
    environment:
      - PORT=8080
      - STUN_HOST=${STUN_HOST}
      - TURN_SECRET=${TURN_SECRET}
      - ROOM_ID_SECRET=${ROOM_ID_SECRET}
      - ROOM_ID_ENV=${ROOM_ID_ENV}
      - TURN_HOST=${TURN_HOST}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
      - TRUST_PROXY=${TRUST_PROXY}
    restart: unless-stopped

  # Coturn Server
  coturn:
    image: coturn/coturn:latest
    container_name: serenada-coturn
    restart: unless-stopped
    volumes:
      - ./coturn/turnserver.dev.conf:/etc/coturn/turnserver.conf
    command:
      - /usr/bin/turnserver
      - -c
      - /etc/coturn/turnserver.conf
      - --static-auth-secret=${TURN_SECRET}

  # Nginx Reverse Proxy
  nginx:
    image: nginx:alpine
    container_name: serenada-nginx
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/nginx.conf
      - ./client/dist:/var/www/serenada/dist
    depends_on:
      - app-server
