services:
  app-server:
    ports:
      - "127.0.0.1:8080:8080"
    ulimits:
      nofile:
        soft: 200000
        hard: 200000
  coturn:
    user: "root"
    network_mode: "host"
    ports: []
    volumes:
      - ./coturn/turnserver.prod.conf:/etc/coturn/turnserver.conf
      - /etc/letsencrypt:/etc/letsencrypt
    command:
      - /usr/bin/turnserver
      - -c
      - /etc/coturn/turnserver.conf
      - --static-auth-secret=${TURN_SECRET}

  nginx:
    ports:
      - "80:80"
      - "443:443"
    ulimits:
      nofile:
        soft: 200000
        hard: 200000
    volumes:
      - ./nginx/nginx.prod.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt
